body {
	background: #fff;
	margin: 0;
	padding: 0;
	font:x-small sans-serif;
	font-size/* */:/**/small;
	font-size: /**/small;
	font-family: 'Lucida Sans', 'Lucida Sans Unicode', 'Lucida Grande', LucidaGrande, Geneva, Arial, sans-serif;
	font-size: 13px;	
}

a {
	color: #4395cd;
	text-decoration: none;
}

hr 
{
    margin: 1em 1em 1em 1em;
    border: 1px solid gray;
}

p.para {
	margin: 1em 2em 1em 2em;
}

p.paraNotification
{
    margin: 0.5em 4em 0.5em 4em;
    font-style: italic;
    text-align: center;
}

a:hover {
	color: #4395cd;
}

#container {
	width: 68em;
	margin: auto;
}

#header 
{
	background: url(../afbeeldingen/logo.png) left top no-repeat;
	margin-top: 1.5em;
	margin-bottom: 0.7em;
	height: 40px;
	width: 200px;
}

#header h1 
{
	display: none;
}

#content 
{
	border-top: solid 1px #ace;
	width: 100%;
}

#left {
	background: #e9f4ff;
	border-top: solid 2px white;
	border-left: solid 2px white;
	width: 15.9em;
}

#right 
{
	width: 51em; 
}

/* MENUBALK */
#menu {
	float:left;
	border-left: solid 1px #ace;
}

/* MENU */
#left ul {
	padding-left: 1em;
	margin-bottom: 0;
	list-style: none;
}

#left li a {
	margin-left: 0;
	padding-left: 0;
	padding: 0.3em;
	color: #666;
	text-decoration: none;
}

#left li a:hover {
	color: #4395cd;
}

/* HOOFDMENU */
#left ul.menu {
	padding-top: 1em;
	padding-bottom: 3em;
	font-size: 1em;
}

#left .menu li {
	padding-top: 0.5em;
}

/* SUBMENU */
#left ul.TreeViewSubmenu {
	font-size: 0.8em;
	margin-left: 0.5em;
}

#left .TreeViewSubmenu li {
    padding-top: 0.2em;
    border-left: 0.4em solid #aaccee;
    padding-left: 0.5em;
}

#left .TreeViewSubmenu li:hover {
    border-left: 0.4em solid white;
}


/* MENU ONDERAAN */
#leftBottom p {
	color: #666;
	font-size: 0.8em;
}

#leftBottom {
	background: #f6fbff;
	border-left: solid 2px white;
	border-top: solid 1px #ace;
	width: 14.9em;
	padding: 1em 0 2em 1em;
}

#leftBottom a:hover {
	color: #666;
}

#right {
	float: right;
}

.actions {
	height: 2em;
	margin: 0.5em 0 0 0.9em;
}

#right li.action {
	border: solid 1px #aeceef;
	background: #fafcff 0.4em 0.2em no-repeat;
	display: block;
	float: left;
	color: #1f75cc;
	height: 1.5em;
	padding: 0.5em 0.5em 0.2em 2.4em;
	font-size: 0.8em;
	color: #4395cd;
}

#right li.action:hover {
	border: 1px solid #8ca5bf;
}

#right li.buy {
	background-image: url(../afbeeldingen/money_add.png);
}

#right li.sell {
	background-image: url(../afbeeldingen/money_delete.png);
}

#right h2 {
	font-size: 1.1em;
	background: url(../afbeeldingen/chart_line.png) top left no-repeat;
	padding-left: 1.6em;
	margin: 1.2em 0 0.6em 0.7em;
}

#right table.table {
	margin-left: 0.7em;
	width: 49.7em;
	color: #646464;
}

#right table.table tr {
	background: #f8f8f8;
}

#right table.table td {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding: 0.4em;
	font-size: 0.9em;
}

#right table.table td.name a {
	color: #8fb8e2;
}

#right table.table tr.header th {
	text-align: center;
	background: white;
	border: none;
}

#right table.table td.pos {
	color: #21c234;
}

#right table.table td.neg {
	color: #d40000;
}

#right table.table td.action {
	text-align: center;
}

/* Search textbox */
#ctl00_search 
{
	margin: 1.5em 0 1em 1em;
	width: 77.5%;
	height: 1.4em;
	padding-left: 1.7em;
	background: url(../afbeeldingen/magnifier.png) 1px 1px no-repeat;
	color: gray;
}

/* TITEL VAN PAGINAS */
#right h1 
{
	color: #ace;
	margin: 0.5em 0 1em 0.25em;
}

/* OPMAAK VAN SECURITY DETAIL */
#right h2.Value 
{
	font-size: 1.2em;
}

#right h2.Change
{
	font-size: 1.2em;
}

.col
{
	background: #e8e8e8;
}

#right table.table#general
{
	width: 48%;
	float: left;
}

#right table.table#data
{
	width: 48%;
	float: right;
}

#right table.table#ctl00_ContentPlaceHolder_HistoryGridView
{
	clear: both;
}

#right h2.pos 
{
	color: #21c234;
}

#right h2.neg 
{
	color: #d40000;
}

/* REGISTRATIEFORMULIER en LOGINFORMULIER */
#ctl00_ContentPlaceHolder_TableRegister, #ctl00_ContentPlaceHolder_TableLogin 
{
    width: 29em;
    margin-left: auto;
    margin-right: auto;
}

#ctl00_ContentPlaceHolder_TableRegister .textbox, #ctl00_ContentPlaceHolder_TableLogin .textbox, #ctl00_ContentPlaceHolder_AccountUpdate .textbox
{
    width: 15em;
    border: 1px solid #666666;
    padding: 0.1em 0.25em 0.1em 0.25em;
}

#ctl00_ContentPlaceHolder_TableRegister .passbox, #ctl00_ContentPlaceHolder_TableLogin .passbox 
{
    width: 10em;
    border: 1px solid #666666;
    padding: 0.1em 0.25em 0.1em 0.25em;
}

#ctl00_ContentPlaceHolder_TableRegister input:focus , #ctl00_ContentPlaceHolder_TableLogin input:focus 
{
    border: 1px solid #fff17d;
}

/* LOGINFORMULIER */
#ctl00_ContentPlaceHolder_btnLogin 
{
    float: right;
}

#ctl00_ContentPlaceHolder_buttons
{
    float: right;
}


/* OPMAAK BUTTONS */
.button
{
   color:#686868;
   background-color:#f6fbff;
   border-style:solid;
   border-color:#77aed5;
   border-width:2px;
   padding: 0.1em 0.6em 0.1em 0.6em;
}

.button:hover
{
    color:#ffffff;
    background-color:#2c97d5;
    border-color: #c0e1fb;
}

#ctl00_ContentPlaceHolder_TableRegister .button:focus, #ctl00_ContentPlaceHolder_TableLogin .button:focus
{
    border: 2px solid #fff17d;
}

/* ORDERSOVERVIEW DELETEBERICHT en PORTFOLIO SELLBERICHT*/
#ctl00_ContentPlaceHolder_DeleteMessage, #ctl00_ContentPlaceHolder_SellMessage
{
    margin-left: 4em;
    margin-right: 4em;
    border: 2px solid #fc746e;
    background-color: #f8f8f8;
}

/* RANKING */
.RankingMenu 
{
    text-align: center;
}