<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!-- CONFIGURATIE SMTP SERVER VOOR EMAIL-->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="127.0.0.1" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="EMAIL_ADDRESS" value="stockplayteam@kapti.com" />
    <add key="DATA_ACCESS_TYPE" value="XML-RPC" />
    <!--<add key="DATA_ACCESS_TYPE" value="ADO"/>-->
    <!--<add key="XML_RPC_SERVER" value="http://192.168.0.6:8080/backend/public"/>-->
    <add key="XML_RPC_SERVER" value="http://192.168.14.1:6800/backend/public" />
    <!-- ***QUERYSTRINGS*** -->
    <!-- EXCHANGES -->
    <add key="SELECT_EXCHANGES" value="SELECT * FROM EXCHANGES" />
    <add key="SELECT_EXCHANGE" value="SELECT * FROM EXCHANGES WHERE SYMBOL = :symbol" />
    <!-- SECURITIES -->
    <add key="SELECT_SECURITIES" value="          SELECT s.isin isin, max(s.symbol) symbol, max(s.name) name, max(s.exchange) exchange, max(s.visible) visible, max(s.suspended) suspended,          max(s.currency) currency, max(q.timestamp) timestamp, max(to_number(q.price)) price, max(q.volume) volume,          max(to_number(q.bid)) bid, max(to_number(q.ask)) ask, max(to_number(q.low)) low, max(to_number(q.high)) high,          max(to_number(q.open)) open           FROM SECURITIES s           JOIN QUOTES q ON s.isin = q.isin           WHERE q.timestamp = (SELECT MAX(q2.timestamp) FROM QUOTES q2 WHERE q2.isin = s.isin)           GROUP BY s.isin" />
    <add key="SELECT_SECURITY" value="SELECT * FROM SECURITIES WHERE ISIN = :isin" />
    <!-- QUOTES -->
    <!-- Omdat de Oracle .NET Data provider geen ondersteuning heeft voor 'binary double' moeten al deze getallen eerst gecast worden als number!-->
    <add key="SELECT_QUOTE_FROM_SECURITY" value="        WITH x as ( SELECT isin, timestamp, price, volume, bid, ask, low, high, open,                   row_number() over(order by                     CASE                       WHEN EXTRACT(day FROM (:quotedate-timestamp)) &gt; 0 THEN :quotedate-timestamp                       ELSE timestamp-:quotedate                     END) rnumber                   FROM Quotes                   WHERE ISIN = :isin                   )         SELECT isin, timestamp, to_number(price), volume, to_number(bid), to_number(ask), to_number(low), to_number(high), to_number(open)         FROM x         WHERE rnumber=1" />
    <add key="SELECT_DAILY_QUOTES_FROM_SECURITY" value="          SELECT max(isin), max(to_number(price)) price, max(volume) volume, max(to_number(bid)) bid, max(to_number(ask)) ask, max(to_number(low)) low,                 max(to_number(high)) high, max(to_number(open)) open, max(timestamp) timestamp, extract(day from timestamp)           FROM QUOTES           WHERE ISIN = :isin AND timestamp between :mindate and :maxdate           GROUP BY extract(day from timestamp)" />
    <add key="SELECT_LATEST_QUOTE_FROM_SECURITY" value="SELECT isin, timestamp, cast(price as number) price, volume, cast(bid as number) bid, cast(ask as number) ask, cast(low as number) low, cast(high as number) high, cast(open as number) open FROM QUOTES WHERE ISIN = :isin AND timestamp = (SELECT MAX(timestamp) FROM QUOTES WHERE isin = :isin)" />
  </appSettings>
  <!-- CONNECTIONSTRINGS -->
  <connectionStrings>
    <add name="OracleDatabase" connectionString="Data Source=oersted;Persist Security Info=True;User ID=stockplay;Password=chocolademousse;Unicode=True" providerName="System.Data.OracleClient" />
    <add name="OracleDatabaseKapti" connectionString="Data Source=be01.kapti.com;Persist Security Info=True;User ID=stockplay;Password=chocolademousse;Unicode=True" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Oracle.DataAccess, Version=2.111.7.20, Culture=neutral, PublicKeyToken=89B483F429C47342" />
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <membership defaultProvider="StockplayMembershipProvider">
      <providers>
        <clear />
        <!-- Bestaande providers verwijderen -->
        <add name="StockplayMembershipProvider" type="StockplayMembershipProvider" />
      </providers>
    </membership>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages styleSheetTheme="StockPlay">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>