/* General */

* {
	margin: 0;
	padding: 0;
}

.plot {
	font: 60% Arial, Verdana, sans-serif;
	color: #5A5A5A;
}

#plotTest {
	width: 560px;
}

.plot {
	padding: 23px 14px 34px 22px;
	background: url(plot.gif) no-repeat top left;
}

.plot .draw {
	height: 250px;
}

.tickLabel {
	font-size: 1.3em;
}

.legendLabel {
	font-size: 1.4em;
	padding: 2px;
}

.legend table {
	background: #fff;
	border: #d8d8d8 1px solid;
	padding-left: 1px;
}

.plot ul {
	background: #fff;
	list-style-type: none;
	border: #d8d8d8 1px solid;
	float: right;
	position: relative;
	padding: 0 0.4em;
	top: -238px;
	right: 12px;
	display: none;
	font-size: 1.0em;
}

.plot:hover ul {
	display: inherit;
}

.plot li {
	margin-right: 0.8em;
	background: no-repeat center left;
	padding: 4px 0 4px 20px;
	float: left;
	font-size: 1.1em;
}

.plot li.zoomOut {
	background-image: url(magnifier_zoom_out.png);
}

.plot li.last {
	background-image: url(arrow_undo.png);
}

.plot li.zoomIn {
	background-image: url(magnifier_zoom_in.png);
}

.plot li.selection {
	background-image: url(plugin.png);
}

.plot li.add {
	background-image: url(brick_add.png);
}

.plot li.pan {
	background-image: url(tag.png);
	display: none;
}

.plot li.reset {
	background-image: url(lightning.png);
	margin-right: 0.1em;	
}

.plot li {
	cursor: pointer;
}