/* General */

* {
	margin: 0;
	padding: 0;
}

#plotTestContainer {
	width: 560px;
}

#plotTest div.draw {
	height: 200px;
}

#volumes {
	height: 50px;
}

#plotTwee {
	width: 560px;
}

.plot {
	font: 60% Arial, Verdana, sans-serif;
	color: #5A5A5A;
}

.plot {
	padding: 23px 14px 34px 22px;
	background: url(images/plot.gif) no-repeat top left;
}

.tickLabel {
	font-size: 1.3em;
}

.legendLabel {
	font-size: 1.4em;
	padding: 2px;
}

.legend table {
	background: #fff;
	border: #d8d8d8 1px solid;
	padding-left: 1px;
}

.legendLabel a {
	color: #f00202;
	text-decoration: none;
}

.plot ul {
	background: #fff;
	list-style-type: none;
	border: #d8d8d8 1px solid;
	float: right;
	position: relative;
	padding: 0 0.4em;
	top: -188px;
	right: 12px;
	display: none;
	font-size: 1.0em;
}

.plot .overlay {
	position: relative;
	top: -110px;
	background: url(images/overlay.png) no-repeat top left;
	height: 50px;
	width: 606px;
	left: -28px;
}

.plot .overlay p {
	text-align: center;
	padding-top: 8px;
}

.plot:hover div.subPlot {
	top: -24px;
}

.plot:hover div.subPlot div.tickLabel {
	margin-top: 24px;
}

.plot:hover ul {
	display: inherit;
}

.plot li {
	margin-right: 0.8em;
	background: no-repeat center left;
	padding: 4px 0 4px 20px;
	float: left;
	font-size: 1.1em;
}

.plot li.disabled {
	color: #b7bebe;
	cursor: default;	
}

.plot li.zoomOut {
	background-image: url(images/magnifier_zoom_out.png);
}

.plot li.last {
	background-image: url(images/arrow_undo.png);
}

.plot li.last.disabled {
	background-image: url(images/arrow_undo_disabled.png);
}

.plot li.zoomIn {
	background-image: url(images/magnifier_zoom_in.png);
}

.plot li.selection {
	background-image: url(images/plugin.png);
}

.plot li.add {
	background-image: url(images/brick_add.png);
}

.plot li.add.disabled {
	background-image: url(images/brick_add_disabled.png);
}

.plot li.pan {
	background-image: url(images/tag.png);
	display: none;
}

.plot li.reset {
	background-image: url(images/lightning.png);
	margin-right: 0.1em;	
}

.plot li.reset.disabled {
	background-image: url(images/lightning_disabled.png);
}

.plot li {
	cursor: pointer;
}